.services {
    background: rgba(0, 0, 0, 0.702);
}

.heading {
    text-align: center;
    font-size: 6.6rem;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.1rem;
}

.row {
    background: var(--bg-color);
    border-radius: 27px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all 0.5s ease;
    text-align: center;
}

.row1 {
    background: var(--bg-color);
    border-radius: 27px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all 0.5s ease;
}

.row img {
    height: auto;
    width: 100%;
    border-radius: 27px;
    margin-bottom: 1.4rem;
}

.row h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}

.row:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.04);
    cursor: pointer;
}

.span {
    padding: 0 0 0 10px;
}

@media (max-width:1200px) {
    .services-content {
        padding: 0 0 0 40px;
    }
}

@media (max-width:991px) {
    .services {
        padding: 7rem;
    }

    .services-content {
        padding: 50px;
    }
}

@media (max-width:786px) {
    .services h2 {
        margin-bottom: 3rem;
    }
}

@media (max-width:617px) {
    .services-content {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .services h2 {
        font-size: 50px;
        text-align: end;
    }
}