.review {
    background: rgba(0, 0, 0, 0.863);
    padding-bottom: 6%;
    padding-top: 7%;
}

.review-box {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.review .heading {
    margin-bottom: 5rem;
}

.review-box .hmmm {
    width: 15rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 60px 0 60px;
}

.review-item {
    min-height: 400px;
    min-width: 350px;
    /* background: var(--snd-bg-color); */
    border: 3px solid rgba(238, 238, 238, 0.3);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.review-item:hover {
    border: 3px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
}

.review-item h2 {
    font-size: 2.8rem;

}

.review-item p {
    font-size: 1.5rem;
    line-height: 1.3rem;
    text-align: center;
}

#star {
    color: gold;
    font-size: 5em;
}

@media (max-width:991px) {
    .review .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .review-item {
        margin-bottom: 30px;
    }
}

@media (max-width:617px) {
    .review .wrapper {
        width: 200px;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .heading{
        font-size: 30px;
    }
}