.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: rgba(0, 0, 0, 0.863);
    padding: 51px 0 53px 0;
}

.about-img img {
    width: 47vw;
    border: 2px solid white;
    border-radius: 1rem;
    transition: 0.5s ease;
}

.about-img img:hover {
    transform: scale(1.01);
    border: 2px solid var(--main-color);
}

.about-img .heading {
    text-align: center;
    font-size: 6rem;
}

.about-content {
    padding: 0 3rem;
}

.about-content h2 {
    text-align: justify;
    line-height: 1.2;
    color: white;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 2rem;
    color: white;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: white;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

@media (max-width:991px) {
    .about{
        display: grid;
    }
    .about-content {
        margin-top: 2rem;
        text-align: center;
        font-size: 5rem;
    }
   .about-img img{
        width: 600PX;
    }
    .about-content h2{
        text-align: center;
    }
}

@media (max-width:786px) {
    .about {
        flex-direction: column;
    }

    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about-content {
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }
}

@media (max-width:617px) {
   
    .about-img img {
        margin: 0 0 0 70px;
        text-align: center;
    }

}


@media (max-width:617px) {
    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }

}