*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system sans-serif;
}
:root{
    --bg-color:#fff;
    --snd-bg-color:#fff;
    --text-color:#000;
    --main-color:#06d89c;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 8% 2rem;
}
@media (max-width:1200px) {
    html{
        font-weight: 55%;
    }
}
@media (max-width:450px) {
    html{
        font-size: 50%;
    }
}